@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

 button {
transition: all 0.2s ease-in-out;
}

h1, h2, h3 {
letter-spacing: -0.02em;
}

